.spin {
  from {.rotate(0deg);}
  to {.rotate(360deg);}
}

.rise {
  from {top: 100%;}
  to {top: 165px;}
}

.rise-short {
  from {top: 100%;}
  to {top: 275px;}
}

@-webkit-keyframes spin {.spin;}
@-moz-keyframes spin {.spin;}
@-ms-keyframes spin {.spin;}
@-o-keyframes spin {.spin;}
@keyframes spin {.spin;}

@-webkit-keyframes rise {.rise;}
@-moz-keyframes rise {.rise;}
@-ms-keyframes rise {.rise;}
@-o-keyframes rise {.rise;}
@keyframes rise {.rise;}

@-webkit-keyframes rise-short {.rise-short;}
@-moz-keyframes rise-short {.rise-short;}
@-ms-keyframes rise-short {.rise-short;}
@-o-keyframes rise-short {.rise-short;}
@keyframes rise-short {.rise-short;}

aside.sidebar {
  &:before{
    .animation(spin, 8s, infinite, linear);
  }
  &:after {
    .animation(rise, 1.5s, 1);
  }
}
