.calcMarginL (@a, @operator, @b) {
  margin-left: -webkit-calc(@a @operator @b);
  margin-left: -moz-calc(@a @operator @b);
  margin-left: calc(@a @operator @b);
}

.calcMarginR (@a, @operator, @b) {
  margin-right: -webkit-calc(@a @operator @b);
  margin-right: -moz-calc(@a @operator @b);
  margin-right: calc(@a @operator @b);
}
