@import url(http://fonts.googleapis.com/css?family=Arvo:700|Open+Sans:400italic,400);
@import url(http://fast.fonts.com/cssapi/95b765fd-fae4-4f1b-8155-d8244914a5c6.css);

body {
  color: @textColor;
  font: 16px @openSans;
  line-height: 1.25em;
}

h1 {font: 91px bold @adelle;}

h2 {
  color: @red;
  font-size: 22px;
  font-style: italic;
}

h3 {
  color: @red;
  font-size: 30px;
}

a {
  color: @linkColor;
  text-decoration: none;
}

abbr[title] {
  border: none;
}

.preamble, .supporting div, .requirements {
  abbr:hover:after {
    content: ' ('attr(title)')';
    text-indent: 0;
  }                  
}
