.page-wrapper {
  .preamble {
    .calcMarginL(50%, -, 520px);  
    clear: left;
    float: left;
    max-width: 495px;
    position: relative;
    top: 301px;
    width: 50%;
    z-index: 4;
    h3 {font-size: 26px;}
  }
  .intro {
    .gradient(white, @lightBlue);
    float: left;
    height: 590px;
    width: 100%;
  }
  .supporting {
    background-color: fadeout(white, 10%);
    border-top: 5px solid @red;
    border-bottom: 5px solid @linkColor;
    float: left;
    position: relative;
    width: 100%;
    z-index: 3;
    &>* {
      float: left;
      width: 50%;
    }
    .explanation {
      .calcMarginR(50%, -, 520px);
      float: right;
      max-width: 495px;
      padding-bottom: 15px;
      h3 {font-size: 26px;}
    }
    .participation {
      background: @lightBlue;
      border-top: 5px solid @blue;
      padding-top: 15px;
      width: 100%;
      h3, p {
        .calcMarginL(50%, -, 520px);
        clear: left;
        float: left;
        max-width: 545px;
      }
      &:after {
        background: url(../images/participation.png) 40px center no-repeat; // PNG Fallback
        background: url('data:image/svg+xml;base64, @{participation}') 40px center no-repeat; // SVG Data URI
        clear: right;
        content: '';
        display: block;
        float: left;
        height: 412px;
        margin-top: -310px;
        max-width: 495px;
        min-width: 412px;
        width: 100%;
      }
    }
    .benefits {
      background-color: @lightBlue;
      border-bottom: 5px solid @blue;
      margin-bottom: 25px;
      padding: 150px 0 50px 0;
      width: 100%;
      h3, p {
        .calcMarginR(50%, -, 520px);
        clear:right;
        float: right;
        max-width: 545px;
        width: 50%;
      }
      &:before {
        border: 1px solid @red;
        content: '';
        display: block;
        height: 0px;
        left: 50%;
        position: absolute;
        margin: -60px 0 0 -110px;
        width: 220px;
      }
      &:after {
        .calcMarginL(50%, -, 520px);
        background: url(../images/benefits.png) 150px center no-repeat;
        background: url('data:image/svg+xml;base64, @{benefits}') 150px no-repeat;
        content: '';
        display: block;
        float: left;
        height: 312px;
        margin-top: -90px;
        max-width: 495px;
        min-width: 312px;
        width: 100%;
      }
    }
  .requirements {
    left: 50%;
    margin-left: -520px;
    max-width: 1040px;
    min-height: 350px;
    position: relative;
    width: 100%;
    h3 {
      text-align: center;
    }
    p {
      float: left;
      &:nth-child(-n+3) {
        clear: left;
        margin-right: 35px;
      }
      &:nth-child(4) {
        position: absolute;
        right: 0;
      }
      .calcWidth(50%, -, 17.5px);
      margin-top: 0;
      &:last-child {
        font-size: 24px;
        margin-top: 40px;
        padding-bottom: 20px;
        text-align: center;
        width: 100%;
        span {
          display: block;
          line-height: 1.25em;
          margin: 0 auto;
          width: 55%;
        }
      }
    }
  }
  }
}
