aside.sidebar {
  clear: both;
  float: left;
  display: block;
  width: 100%;
  background: @linkColor;
  border-top: 5px solid @lightBlue;
  &:before {
    content: '';
    background: url('../images/starburst.png') no-repeat; // PNG Fallback
    background: url('data:image/svg+xml;base64, @{starburst}'); // SVG Data URI
    width: 923px;
    height: 921px;
    position: fixed;
    top: 60px;
    left: 50%;
    margin-left: -461.5px;
  }
  &:after {
    content: '';
    background: url('../images/robot.png') no-repeat; // PNG Fallback
    background: url('data:image/svg+xml;base64, @{robot}'); // SVG Data URI
    height: 949px;
    width: 429px;
    position: fixed;
    top: 165px;
    left: 50%;
    margin-left: -215px;
    z-index: 1;
  }
  .wrapper {
    background: @linkColor;
    border-top: 5px solid @lightBlue;
    z-index: 2;
    position: relative;
    width: 100%;
    max-width: 1040px;
    top: -5px;
    margin: 0 auto;
    padding: 40px 0 30px 0;
    h3 {
      color: @darkBlue;
      font-size: 24px;
      margin-top: 0;
    }
    a {
      color: @lightBlue;
      &.designer-name {color: @darkBlue;}
    }
    ul {
      list-style: none;
      padding: 0;
    }
    .design-selection {
      width: 50%;
      float: left;
      border-right: 2px solid @lightBlue;
      margin-right: 40px;
      padding-bottom: 60px;
    }
    .zen-resources {margin-top: 40px;}
  }
}

.page-wrapper .supporting > footer {
  width: 100%;
  background: @darkBlue;
  position: absolute;
  bottom: -449px;
  height: 65px;
  font-size: 22px;
  text-align: center;
  a {
    color: @lightBlue;
    vertical-align: -1em;
    margin-right: 25px;
    &:last-child {margin-right: 0;}
  }
}
