header {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  h1 {
    color: @darkBlue;
    margin: 15px 0 0;
    span {
      &:before, &:after {
      content: '';
      display: inline-block;
      height: 0;
      width: 130px;
      border: 1px solid @red;
      vertical-align: 0.4em;
      margin: 0 10px;
      }
    }
  }
  h2 {
    text-align: right;
    max-width: 750px;
    margin: -10px auto 0;
    width: 100%;
  }
}

.summary {
  position: relative;
  top: 210px;
  max-width: 1040px;
  left: 50%;
  margin-left: -520px;
  width: 100%;
  z-index: 1;
  p {
    width: 300px;
    float: right;
    clear: right;
    font-style: italic;
    color: @red;
    margin: 0;
  }
}
