.page-wrapper {
  .intro {
    height: 985px;
    position: relative;
    .preamble {
      background: fadeout(white, 10%);
      border-top: 5px solid @red;
      bottom: 0;
      margin: 0;
      max-width: none;
      padding: 25px 0;
      position: absolute;
      top: auto;
      width: 100%;
      h3, p {
        width: 85%;
        margin: 0 auto;
      }
    }
  }
  .supporting {
    border-top: none;
    .explanation {
      float: none;
      left: auto;
      margin: 0;
      max-width: none;
      padding: 0 7.5% 10px;
      width: 85%;
    }
    .participation {
      h3, p {
        float: none;
        margin: 0 auto;
        width: 85%;
      }
      &:after {
        float: none;
        margin: 50px auto 0;
        width: 80%;
      }
    }
    .benefits {
      h3, p {
        float: none;
        left: auto;
        margin: auto;
        width: 85%;
      }
      &:after {
        background-position: center;
        float: none;
        margin: 50px auto 0;
        width: 80%;
      }
    }
    .requirements {
      padding: 0 7.5%;
      width: 85%;
      p {
        float: none;
        position: static !important;
        width: 100% !important;
        span {width: 100% !important;}
      }
    }
    &> footer {
      bottom: -583px;
      font-size: 18px;
    }
  }
  aside.sidebar {
    .wrapper {
      padding: 40px 0 30px;
      width: 100%;
      &> div {
        border: none;
        float: none;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
        h3 {margin: 0;}
        ul {margin-top: 0;}
      }
    }
    &:after {
      .background-size(contain);
      left: auto;
      margin: 0 5%;
      width: 90%;
    }
  }
}
