@media (max-width: 1040px) {
  @import 'papa-bear';
}

// Resizing header lines
  @media (max-width: 1000px) {.page-wrapper header h1 span {&:before, &:after {width: 100px;}}}
  @media (max-width: 940px) {.page-wrapper header h1 span {&:before, &:after {width: 75px;}}}
  @media (max-width: 890px) {.page-wrapper header h1 span {&:before, &:after {width: 50px;}}}
  @media (max-width: 890px) {.page-wrapper header h1 span {&:before, &:after {content: none;}}}

@media (max-width: 700px) {
  .page-wrapper .intro {
    header {
      h1 {
        font-size: 60px;
        height: 50px;
        margin-top: 35px;
      }
      h2 {max-width: 455px;}
    }
    .summary {margin-top: 35px;}
    .preamble {top: 453px;}
  }
}

@media (max-width: 650px) {
  @import 'baby-bear';
}

@media (max-width: 470px) {
  .page-wrapper .intro header {
    h1 {
      font-size: 40px;
      height: 40px;
      margin-top: 25px;
    }
    h2 {
      font-size: 16px;
      max-width: 310px;
    }
  }
}
