@media (max-width: 1040px) {
  .page-wrapper {
    .intro {
      height: 700px;
      .summary {
        left: auto;
        top: auto;
        margin-top: 15px;
        text-align: center;
        p {
          float: none;
          width: 90%;
          max-width: 300px;
          margin: 0 auto 10px;
        }
      }
    }
    .preamble {
      margin-left: 50px;
      .calcWidth(50%, -, 75px);
      top: 436px;
    }
    .supporting {
      .explanation {
        margin-right: 50px;
        .calcWidth(50%, -, 75px);
      }
      .participation {
        h3, p {
          margin-left: 50px;
          .calcWidth(50%, -, 50px);
        }
        &:after {
          -webkit-background-size: contain;
          -moz-background-size: contain;
          background-size: contain;
          background-position: center;
          float: right;
          width: 40%;
          min-width: 0;
          margin: -330px 50px 0 0;
        }
      }
      .benefits {
        h3, p {
          .calcWidth(50%, -, 50px);
          margin-right: 50px;
        }
        &:after {
          -webkit-background-size: contain;
          -moz-background-size: contain;
          background-size: contain;
          background-position: center;
          width: 40%;
          margin-left: 50px;
          min-width: 0;
        }
      }
      .requirements {
        .calcWidth(100%, -, 100px);
        padding: 0 50px;
        left: auto;
        margin-left: 0;
        p {
          &:nth-child(4) {
            right: 50px;
            .calcWidth(50%, -, 65px);
          }
          &:last-child span {
            width: 60%;
          }
        }
      }
    }
    aside.sidebar {
      &:before {top: 170px;}
      &:after {
        top: 275px;
        -webkit-animation: rise-short 1.5s ease;
      }
      .wrapper {
        .calcWidth(100%, -, 100px);
        padding: 40px 50px 30px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .page-wrapper {
    header h1 span {
      &:before, &:after {width: 100px;}
    }
  }
}

@media (max-width: 1000px) {
  .page-wrapper {
    header h1 span {
      &:before, &:after {content: none;}
    }
  }
}

@media (max-width: 700px) {
  .page-wrapper {
    .intro {
      header {
        h1 {font-size: 60px;}
        h2 {max-width: 455px;}
      }
      .summary {margin-top: 35px;}
      .preamble {top: 453px;}
    }
  }
}

@media (max-width: 650px) {
  .page-wrapper {
    .intro {
      height: 985px;
      position: relative;
      .preamble {
        background: fadeout(white, 10%);
        border-top: 5px solid @red;
        bottom: 0;
        max-width: none;
        margin: 0;
        padding: 25px 0;
        position: absolute;
        top: auto;
        width: 100%;
        h3, p {
          margin: 0 50px;
          .calcWidth(100%, -, 100px);
        }
      }
    }
    .supporting {
      border-top: none;
      .explanation {
        .calcWidth(100%, -, 100px);
        float: none;
        padding: 0 50px 10px;
        max-width: none;
      }
      .participation {
        h3, p {
          float: none;
          .calcWidth(100%, -, 100px);
        }
        &:after {
          float: none;
          margin: 50px auto 0;
          width: 80%;
        }
      }
      .benefits {
        h3, p {
          float: none;
          .calcWidth(100%, -, 100px);
          margin-left: 50px;
        }
        &:after {
          float: none;
          margin: 50px auto 0;
          width: 80%;
          background-position: center;
        }
      }
      .requirements {
        p {
          width: 100% !important;
          float: none;
          position: static !important;
          span {width: 100% !important;}
        }
      }
      &> footer {bottom: -583px;}
    }
    aside.sidebar .wrapper > div {
      border: none;
      float: none;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
      h3 {margin: 0;}
      ul {margin-top: 0;}
    }
  }
}

@media (max-width: 470px) {
  .page-wrapper {
    .intro {
      header {
        h1 {font-size: 40px;}
        h2 {
          font-size: 16px;
          max-width: 310px;
        }
      }
      //.preamble {top: 388px;}
    }
  }
}